parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: app/Components/Helpers.php

		-
			message: '#^Method App\\Components\\Helpers\:\:prepareAttrs\(\) should return array\{array\<string, array\<string, mixed\>\>, string\} but returns array\{array\<string, array\<mixed\>\>, non\-falsy\-string\}\.$#'
			identifier: return.type
			count: 1
			path: app/Components/Helpers.php

		-
			message: '#^Parameter \#1 \$keys of function array_fill_keys expects an array of values castable to string, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Components/Helpers.php

		-
			message: '#^Strict comparison using \=\=\= between '''' and '''' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: app/Components/Helpers.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: app/Components/ObjectSelectBox.php

		-
			message: '#^Cannot call method addError\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Components/TeamForm.php

		-
			message: '#^Cannot access property \$cardId on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Exporters/CsvExporter.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Exporters/CsvExporter.php

		-
			message: '#^Property App\\Forms\\ComposeFormValues\:\:\$recipients \(list\<int\>\) does not accept array\<int\<0, max\>, int\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Forms/ComposeFormValues.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, array\<string\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Category.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|string, mixed\)\: mixed\)\|null, Closure\(string, array\)\: App\\Model\\Configuration\\Category given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/CategoryData.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|string, mixed\)\: mixed\)\|null, Closure\(string, array\)\: App\\Model\\Configuration\\CategoryGroup given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/CategoryData.php

		-
			message: '#^Parameter \#2 \$field of static method App\\Model\\Configuration\\Helpers\:\:parseLabel\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/CategoryData.php

		-
			message: '#^Parameter \#3 \$allLocales of static method App\\Model\\Configuration\\Helpers\:\:parseLabel\(\) expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/CategoryData.php

		-
			message: '#^Cannot access offset ''person'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Cannot access offset ''team'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#1 \$categories of static method App\\Model\\Configuration\\CategoryData\:\:from\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#1 \$class of static method App\\Model\\Configuration\\Helpers\:\:ensureSubclassOf\(\) expects class\-string\<mixed\>\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#2 \$field of static method App\\Model\\Configuration\\Helpers\:\:makeField\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#3 \$allLocales of static method App\\Model\\Configuration\\Helpers\:\:makeField\(\) expects array\<string\>, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#3 \$eventDate of static method App\\Model\\Configuration\\CategoryData\:\:from\(\) expects DateTimeInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \#4 \$allLocales of static method App\\Model\\Configuration\\CategoryData\:\:from\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$allowLateRegistrationsByEmail of class App\\Model\\Configuration\\Entries constructor expects bool, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$closing of class App\\Model\\Configuration\\Entries constructor expects DateTimeImmutable\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$eventDate of class App\\Model\\Configuration\\Entries constructor expects DateTimeImmutable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$initialMembers of class App\\Model\\Configuration\\Entries constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$minMembers of class App\\Model\\Configuration\\Entries constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$opening of class App\\Model\\Configuration\\Entries constructor expects DateTimeImmutable\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Parameter \$recommendedCardCapacity of class App\\Model\\Configuration\\Entries constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Entries.php

		-
			message: '#^Method App\\Locale\\Translated@anonymous/app/Model/Configuration/Helpers\.php\:43\:\:getMessage\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Method App\\Model\\Configuration\\Helpers\:\:ensureSubclassOf\(\) should return class\-string\<V\>\|null but returns class\-string\<U&V\>\|\(class\-string\<U\>&V\)\.$#'
			identifier: return.type
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Method App\\Model\\Configuration\\Helpers\:\:makeItems\(\) should return array\<string, App\\Model\\Configuration\\Fields\\Item\> but returns array\<App\\Model\\Configuration\\Fields\\Item\>\.$#'
			identifier: return.type
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Parameter \#2 \$field of static method App\\Model\\Configuration\\Helpers\:\:parseLabel\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Parameter \#2 \$translated of static method App\\Model\\Configuration\\Helpers\:\:checkAllLocalesPresent\(\) expects array\<string, string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Part \$limit \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: app/Model/Configuration/Helpers.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Presenters/CommunicationPresenter.php

		-
			message: '#^PHPDoc tag @var with type callable\(Nette\\Application\\UI\\Form, mixed\)\: void is not subtype of native type Closure\(Nette\\Application\\UI\\Form, App\\Forms\\SignInFormValues\)\: void\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Presenters/SignPresenter.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Binary operation "\." between ''team_'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 3
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Cannot access property \$cardId on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^PHPDoc tag @var with type Nette\\Utils\\ArrayHash is not subtype of native type Nette\\ComponentModel\\IComponent\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^PHPDoc tag @var with type string is not subtype of native type null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(string\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Parameter \#1 \$item of static method App\\Presenters\\TeamPresenter\:\:serializeInvoiceItem\(\) expects array\{scope\?\: string, type\?\: string, key\?\: string, value\?\: string\}, array\{type\: string, scope\: string, key\: string, value\: mixed\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Parameter \#1 \$key of function array_key_exists expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Parameter \#5 \$values of method App\\Presenters\\TeamPresenter\:\:processFields\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: app/Presenters/TeamPresenter.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: app/Presenters/TeamPresenter.php
