parameters:
	entries:
		minMembers: 0
		maxMembers: 0
		allowLateRegistrationsByEmail: false
		recommendedCardCapacity: 0
		supportedLocales: [en, cs]
		fees:
			currency: CZK
		limits: []
		categories: []
		fields:
			person: []
			team: []

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

di:
	export:
		tags: false
		types:
			- Contributte\Translation\LocalesResolvers\Header
			- Contributte\Translation\LocalesResolvers\Router
			- Contributte\Translation\LocalesResolvers\Session
			- Nette\Localization\Translator

session:
	autoStart: yes
	expiration: 31 days

forms:
	messages:
		FILLED: messages.general.error.not_filled
		INTEGER: messages.general.error.not_integer
		EMAIL: messages.general.error.not_email

extensions:
	asset: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension
	translation: Contributte\Translation\DI\TranslationExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	contribMail: Contributte\Mail\DI\MailExtension

contribMail:
	# Trace emails in Tracy
	trace: %debugMode%

orm:
	model: App\Model\Orm\Orm


services:
	- App\Helpers\EmailFactory(%appDir%)
	- App\Helpers\Parameters(%parameters%)
	- App\Helpers\SpaydQrGenerator
	- App\Model\Configuration\Entries::from(%entries%)
	- App\Model\TeamManager(%adminPassword%)
	- App\Forms\FormFactory
	- App\Forms\TeamFormFactory
	- App\Router\RouterFactory::createRouter
	- App\Templates\Filters\CategoryFormatFilter
	- App\Templates\Filters\CurrencyExchangeFilter
	- App\Templates\Filters\PriceFilter
	- App\Templates\Filters\WrapInParagraphsFilter
	exchange: Money\Exchange\FixedExchange([])
	nette.latteFactory:
		setup:
			- addFilter(categoryFormat, @App\Templates\Filters\CategoryFormatFilter)
			- addFilter(exchangeCurrency, @App\Templates\Filters\CurrencyExchangeFilter)
			- addFilter(price, @App\Templates\Filters\PriceFilter)
			- addFilter(wrapInParagraphs, @App\Templates\Filters\WrapInParagraphsFilter)

translation:
	translatorFactory: App\Locale\Translator
	loaders:
		neon: App\Helpers\NeonIntlLoader
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Router
		- Contributte\Translation\LocalesResolvers\Session
		- Contributte\Translation\LocalesResolvers\Header
	locales:
		whitelist: %entries.supportedLocales%
		default: cs
	dirs:
		- %appDir%/lang

asset:
	json_manifest_path: %wwwDir%/dist/parcel-manifest.json
	base_path: /dist/
