parameters:
	entries:
		minMembers: 0
		maxMembers: 0
		allowLateRegistrationsByEmail: false
		recommendedCardCapacity: 0
		accountNumber: '000000-0000000000/0000'
		fees:
			currency: CZK
		categories: []
		fields:
			person: []
			team: []

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

di:
	export:
		tags: false
		types:
			- Contributte\Translation\LocalesResolvers\Session
			- Contributte\Translation\LocalesResolvers\Router
			- Nette\Localization\Translator

session:
	autoStart: yes
	expiration: 31 days

forms:
	messages:
		FILLED: messages.general.error.not_filled
		INTEGER: messages.general.error.not_integer
		EMAIL: messages.general.error.not_email

extensions:
	assetMacro: Webrouse\AssetMacro\DI\Extension
	translation: Contributte\Translation\DI\TranslationExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	contribMail: Contributte\Mail\DI\MailExtension

contribMail:
	# Trace emails in Tracy
	trace: %debugMode%

orm:
	model: App\Model\Orm


services:
	- App\Helpers\Parameters(%parameters%)
	- App\Model\TeamManager(%adminPassword%)
	- App\Model\CategoryData
	- App\Forms\FormFactory
	- App\Forms\TeamFormFactory
	- App\Router\RouterFactory::createRouter
	- App\Templates\Filters\CategoryFormatFilter
	- App\Templates\Filters\CurrencyExchangeFilter
	- App\Templates\Filters\PriceFilter
	- App\Templates\Filters\WrapInParagraphsFilter
	exchange: Money\Exchange\FixedExchange([])
	nette.latteFactory:
		setup:
			- addFilter(categoryFormat, @App\Templates\Filters\CategoryFormatFilter)
			- addFilter(exchangeCurrency, @App\Templates\Filters\CurrencyExchangeFilter)
			- addFilter(price, @App\Templates\Filters\PriceFilter)
			- addFilter(wrapInParagraphs, @App\Templates\Filters\WrapInParagraphsFilter)

translation:
	loaders:
		neon: App\Helpers\NeonIntlLoader
	locales:
		whitelist: [en, cs]
		default: cs
	dirs:
		- %appDir%/lang

assetMacro:
	manifest: %wwwDir%/dist/parcel-manifest.json
	assetsPath: %wwwDir%/dist/
	publicPath: /dist/
