php:
	date.timezone: Europe/Prague

parameters:
	siteTitle:
		cs: Mistrovství světa v rogainingu 2022
		en: World Rogaining Championships 2022
	webmasterEmail: jan.tojnar@rogaining.cz
	entries:
		minMembers: 2
		maxMembers: 3
		recommendedCardCapacity: 30
		eventDate: 2022-08-26 # used for age calculations
		opening: 2021-12-09T01:23:59
		closing: 2050-06-23T01:00:00
		fees:
			currency: EUR
			person: 80.0
		categories:
			MY:
				constraints:
					- 'all(gender=male)'
					- 'all(age<23)'
			WY:
				constraints:
					- 'all(gender=female)'
					- 'all(age<23)'
			XY:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<23)'
			MO:
				constraints:
					- 'all(gender=male)'
			WO:
				constraints:
					- 'all(gender=female)'
			XO:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			MV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=40)'
			WV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=40)'
			XV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=40)'
			MSV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=55)'
			WSV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=55)'
			XSV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=55)'
			MUV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=65)'
			WUV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=65)'
			XUV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=65)'
		fields:
			person:
				country:
					type: country
					default: 46
					public: true
				pqe:
					type: pqe
