#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	entries:
		minMembers: 0
		maxMembers: 0
		fees: []
		categories:
			gender:
				male:
					short: M
				female:
					short: F
				mixed:
					short: X
			age: []
			duration: []

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	container:
		accessors: true

	session:
		autoStart: true
		expiration: 31 days

	forms:
		messages:
			FILLED: messages.general.error.not_filled
			INTEGER: messages.general.error.not_integer
			EMAIL: messages.general.error.not_email

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	orm: Nextras\Orm\DI\OrmExtension

orm:
	model: App\Model\Orm


services:
	database: @nette.database.default.context
	- App\Model\TeamManager(@App\Model\TeamRepository, %entries.admin%)
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
