php:
	date.timezone: Europe/Prague

services:
	exchange: Money\Exchange\ReversedCurrenciesExchange(
		Money\Exchange\FixedExchange([
			'EUR': [
				'CZK': '25'
			]
		])
	)

parameters:
	siteTitle:
		cs: Mistrovství světa v rogainingu 2022
		en: World Rogaining Championships 2022
	webmasterEmail: jan.tojnar@rogaining.cz
	entries:
		minMembers: 2
		maxMembers: 3
		recommendedCardCapacity: 30
		eventDate: 2022-08-26 # used for age calculations
		opening: 2021-12-09T01:23:59
		closing: 2050-06-23T01:00:00
		fees:
			currency: EUR
			person: 90
		categories:
			24:
				label:
					cs: 'Mistrovství světa (24 hodin)'
					en: 'World championships (24 hours)'
				categories:
					MY:
						constraints:
							- 'all(gender=male)'
							- 'all(age<23)'
					WY:
						constraints:
							- 'all(gender=female)'
							- 'all(age<23)'
					XY:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
							- 'all(age<23)'
					MO:
						constraints:
							- 'all(gender=male)'
					WO:
						constraints:
							- 'all(gender=female)'
					XO:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
					MV:
						constraints:
							- 'all(gender=male)'
							- 'all(age>=40)'
					WV:
						constraints:
							- 'all(gender=female)'
							- 'all(age>=40)'
					XV:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
							- 'all(age>=40)'
					MSV:
						constraints:
							- 'all(gender=male)'
							- 'all(age>=55)'
					WSV:
						constraints:
							- 'all(gender=female)'
							- 'all(age>=55)'
					XSV:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
							- 'all(age>=55)'
					MUV:
						constraints:
							- 'all(gender=male)'
							- 'all(age>=65)'
					WUV:
						constraints:
							- 'all(gender=female)'
							- 'all(age>=65)'
					XUV:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
							- 'all(age>=65)'
			6:
				label:
					cs: 'Doprovodný závod (šestihodinový rogaining)'
					en: 'Side event (six-hour rogaine)'
				fees:
					currency: EUR
					person: 40
				categories:
					MO6:
						constraints:
							- 'all(gender=male)'
					WO6:
						constraints:
							- 'all(gender=female)'
					XO6:
						constraints:
							- 'some(gender=male)'
							- 'some(gender=female)'
		fields:
			person:
				country:
					type: country
					default: 46
					public: true
