php:
	date.timezone: Europe/Prague

# Do not forget to configure database here or in private.neon
dbal:
	driver: mysqli
	host: localhost
	database: entries
	username: root
	password:
	connectionTz: +01:00
	options:
		charset: utf8mb4

services:
	exchange: Money\Exchange\ReversedCurrenciesExchange(
		Money\Exchange\FixedExchange([
			'EUR': [
				'CZK': '25'
			]
		])
	)


parameters:
	# Do not forget to set password here or in private.neon
	adminPassword:
	siteTitle:
		cs: Nějaký závod
		en: Some event
	webmasterEmail: email@example.com
	entries:
		minMembers: 2
		maxMembers: 5
		recommendedCardCapacity: 30
		eventDate: 2012-06-23 # used for age calculations
		opening: 2021-04-01T01:00:00
		closing: 2050-06-23T01:00:00
		invoiceModifier: App\Config\CustomInvoiceModifier
		inputModifier: App\Config\CustomInputModifier
		fees:
			currency: CZK
			person: 650
		categories:
			HH20:
				constraints:
					- 'all(gender=male)'
					- 'all(age<20)'
			DD20:
				constraints:
					- 'all(gender=female)'
					- 'all(age<20)'
			HD20:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<20)'
			HH:
				constraints:
					- 'all(gender=male)'
			DD:
				constraints:
					- 'all(gender=male)'
			HD:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			HH40:
				constraints:
					- 'all(gender=male)'
					- 'all(age>40)'
			DD40:
				constraints:
					- 'all(gender=male)'
					- 'all(age>40)'
			HD40:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>40)'
		fields:
			team:
				friday2h:
					type: enum
					label:
						en: '2 hour Friday Night'
						cs: 'Páteční noční dvouhodinovka'
					public: true
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 50
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				saturday5h:
					type: enum
					label:
						en: '5 hour Saturday'
						cs: 'Sobotní denní pětihodinovka'
					public: true
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 150
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sunday4h:
					type: enum
					label:
						en: '4 hour Sunday'
						cs: 'Nedělní čtyřhodinovka - mapa 1850'
					public: true
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 150
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
			person:
				country:
					type: country
					default: 46
					public: true
				sportident:
					type: sportident
					fee: 50
					public: true
				mug:
					type: checkbox
					label:
						en: 'Mug (100 CZK)'
						cs: 'Hrnek (100 Kč)'
					fee: 100
				boarding:
					label:
						en: 'Boarding:'
						cs: 'Stravování:'
					type: checkboxlist
					items:
						fri_supper:
							label:
								en: 'Friday Supper (95 CZK)'
								cs: 'Páteční večeře (95 Kč)'
							fee: 95
						sat_breakfast:
							type: checkbox
							label:
								en: 'Saturday Breakfest (100 CZK)'
								cs: 'Sobotní snídaně (100 Kč)'
							fee: 100
						sat_lun:
							type: checkbox
							label:
								en: 'Saturday Lunch (95 CZK)'
								cs: 'Sobotní oběd (95 Kč)'
							fee: 95
					description:
						en: Half-boarding costs 210 CZK per day
						cs: Polopenze stojí 210 Kč na den
				registry_address:
					type: text
					label:
						cs: 'Bydliště:'
						en: 'Address:'
					description:
						cs: 'Adresa pro účely rejstříku sportovců MŠMT'
						en: 'Address for the purpose of Sport registry of the Czech Ministry of Education (Czech nationals only)'
