php:
	date.timezone: Europe/Prague

# Do not forget to configure database here or in private.neon
dbal:
	driver: mysqli
	host: localhost
	database: entries
	username: root
	password:
	connectionTz: +01:00
	options:
		charset: utf8mb4

services:
	exchange: Money\Exchange\ReversedCurrenciesExchange(
		Money\Exchange\FixedExchange([
			'EUR': [
				'CZK': '25'
			]
		])
	)

parameters:
	siteTitle:
		cs: 10. Sudetské Tojnárkovo Bloudění 2024
		en: Lost in Tojnarek’s Sudetenland 2024
	entries:
		minMembers: 2
		maxMembers: 2
		eventDate: 2024-04-19 # used for age calculations
		opening: 2024-02-07T00:00:00
		closing: 2024-04-19T12:00:00
		accountNumber: '2800039826/2010'
		invoiceModifier: App\Config\CustomInvoiceModifier
		fees:
			currency: CZK
			person: 0
		limits:
			monastery: 100
		# 	hardfloor: 50
		# 	asocial-four: 1
		# 	apartman-five: 1
		# 	social-four: 3
		# 	social-three: 2
		# 	social-two: 0
		categories:
			MJ:
				constraints:
					- 'all(gender=male)'
					- 'all(age<=20)'
			XJ:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<=20)'
			WJ:
				constraints:
					- 'all(gender=female)'
					- 'all(age<=20)'
			MO:
				constraints:
					- 'all(gender=male)'
			XO:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			WO:
				constraints:
					- 'all(gender=female)'
			MV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=40)'
			XV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=40)'
			WV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=40)'
		fields:
			team:
				sportident:
					type: sportident
					fee: 70
				friday2h:
					type: enum
					label:
						en: '2-hour Friday Night:'
						cs: 'Páteční noční dvouhodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 90
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				saturday5h:
					type: enum
					label:
						en: '5-hour Saturday:'
						cs: 'Sobotní denní pětihodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 180
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sunday4h:
					type: enum
					label:
						en: '4-hour  - historical map:'
						cs: 'Nedělní čtyřhodinovka - mapa 1850:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 180
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
			person:
				country:
					type: country
					default: 46
				accommodation:
					label:
						en: 'Accommodation must be ordered and paid until Sunday April 07, 2024'
						cs: 'Ubytování se musí objednat a zaplatit do neděle 7. 4. 2024'
					type: enum
					options:
						monastery-friday:
							label:
								en: 'Pension Osek Monastery, 60 € per person from Friday to Sunday'
								cs: 'Pension Osecký klášter, 1500 Kč/os. pátek až neděle'
							fee: 1200
							limit: monastery
						monastery-saturday:
							label:
								en: 'Pension Osek Monastery, 30 € per person from Saturday to Sunday'
								cs: 'Pension Osecký klášter, 750 Kč/os. sobota až neděle'
							fee: 1200
							limit: monastery
				boarding:
					label:
						en: 'Boarding must be ordered and paid until Sunday April 07, 2024'
						cs: 'Stravování se musí objednat a zaplatit do neděle 7. 4. 2024'
					type: checkboxlist
					items:
						fri-nakladany-hermelin:
							label:
								en: 'Friday picled Camembert cheese (100 g), bread (95 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční nakládaný hermelín (100 g), chléb (95 Kč, odběr mezi 17:00 až 19:30)'
							fee: 95
						# fri-utopenec:
						# 	label:
						# 		en: 'Friday picled sausage, bread (35 CZK, available between 17:00 and 19:30)'
						# 		cs: 'Páteční utopenec, chléb (35 Kč, odběr mezi 17:00 až 19:30)'
						# 	fee: 35
						fri-klobasa:
							label:
								en: 'Friday grilled sausage, bread (95 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční grilovaná klobása, chléb (95 Kč, odběr mezi 17:00 až 19:30)'
							fee: 95
						fri-grilled-hermelin:
							label:
								en: 'Friday grilled Camembert cheese (100 g), bread (95 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční grilovaný hermelín (100 g), chléb (95 Kč, odběr mezi 17:00 až 19:30)'
							fee: 95
						fri-g-soup:
							label:
								en: 'Friday goulash soup (55 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční gulášovka (55 Kč, odběr mezi 17:00 až 19:30)'
							fee: 55
						sat-nakladany-hermelin:
							label:
								en: 'Saturday picled Camembert cheese (100 g), bread (95 CZK, available between 13:00 and 19:00)'
								cs: 'Sobotní nakládaný hermelín (100 g), chléb (95 Kč, odběr mezi 13:00 až 19:00)'
							fee: 95
						# sat-utopenec:
						# 	label:
						# 		en: 'Saturday picled sausage, bread (35 CZK, available between 13:00 and 19:00)'
						# 		cs: 'Sobotní utopenec, chléb (35 Kč, odběr mezi 13:00 až 19:00)'
						# 	fee: 35
						sat-klobasa:
							label:
								en: 'Saturday grilled sausage, bread (95 CZK, available between 13:00 and 19:00)'
								cs: 'Sobotní grilovaná klobása, chléb (95 Kč, odběr mezi 13:00 až 19:00)'
							fee: 95
						sat-grilled-hermelin:
							label:
								en: 'Saturday grilled Camembert cheese (100 g), bread (95 CZK, available between 13:00 and 19:00)'
								cs: 'Sobotní grilovaný hermelín (100 g), chléb (95 Kč, odběr mezi 13:00 až 19:00)'
							fee: 95
						sat-g-soup:
							label:
								en: 'Saturday goulash soup (55 CZK, available between 13:00 and 19:00)'
								cs: 'Sobotní gulášovka (55 Kč, odběr mezi 13:00 až 19:00)'
							fee: 55
						sat-z-soup:
							label:
								en: 'Saturday cabbage soup (55 CZK, available between 13:00 and 19:00)'
								cs: 'Sobotní zelňačka (55 Kč, odběr mezi 13:00 až 19:00)'
							fee: 55
						sun-klobasa:
							label:
								en: 'Sunday grilled sausage, bread (95 CZK, available between 13:00 and 15:30)'
								cs: 'Nedělní grilovaná klobása, chléb (95 Kč, odběr mezi 13:00 až 15:30)'
							fee: 95
						sun-grilled-hermelin:
							label:
								en: 'Sunday grilled Camembert cheese (100 g), bread (95 CZK, available between 13:00 and 15:30)'
								cs: 'Nedělní grilovaný hermelín (100 g), chléb (95 Kč, odběr mezi 13:00 až 15:30)'
							fee: 95
						sun-g-soup:
							label:
								en: 'Sunday goulash soup (55 CZK, available between 13:00 and 15:30)'
								cs: 'Nedělní gulášovka (55 Kč, odběr mezi 13:00 až 15:30)'
							fee: 55
						sun-z-soup:
							label:
								en: 'Sunday cabbage soup (55 CZK, available between 13:00 and 19:00)'
								cs: 'Nedělní zelňačka (55 Kč, odběr mezi 13:00 až 19:00)'
							fee: 55
						# sat-breakfast-sausage:
						# 	label:
						# 		en: 'Saturday sausage breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Sobotní párek k snídani (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
						# sat-breakfast-eggs:
						# 	label:
						# 		en: 'Saturday scrambled eggs breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Sobotní snídaně míchaná vejce (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
						# sat-breakfast-jam:
						# 	label:
						# 		en: 'Saturday bread/butter/jam/cheese breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Sobotní snídaně chléb, máslo, marmeláda, sýr (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
						# sat-soup:
						# 	label:
						# 		en: 'Saturday goulash soup (49 CZK, available between 13:00 and 19:00)'
						# 		cs: 'Sobotní gulášovka (49 Kč, odběr mezi 13:00 až 19:00)'
						# 	fee: 49
						# sat-goulash:
						# 	label:
						# 		en: 'Saturday chicken with paprika sauce with dumplings (169 CZK, available between 13:00 and 19:00)'
						# 		cs: 'Sobotní kuře na paprice, houskový knedlík (169 Kč, odběr mezi 13:00 až 19:00)'
						# 	fee: 169
						# sat-risotto:
						# 	label:
						# 		en: 'Saturday chicken with paprika sauce with pasta (169 CZK, available between 13:00 and 19:00)'
						# 		cs: 'Sobotní kuře na paprice, těstoviny(169 Kč, odběr mezi 13:00 až 19:00)'
						# 	fee: 169
						# sun-soup:
						# 	label:
						# 		en: 'Sunday pea soup (49 CZK, available between 13:00 and 15:30)'
						# 		cs: 'Nedělní hrachovka (49 Kč, odběr mezi 13:00 až 15:30)'
						# 	fee: 49
						# sun-goulash:
						# 	label:
						# 		en: 'Sunday chicken steak with mushroom and potatoes (169 CZK, available between 13:00 and 15:30)'
						# 		cs: 'Nedělní kuřecí plátek na žampionech, brambor (169 Kč, odběr mezi 13:00 až 15:30)'
						# 	fee: 169
						# sun-risotto:
						# 	label:
						# 		en: 'Sunday chicken steak with mushroom and rice (169 CZK, available between 13:00 and 15:30)'
						# 		cs: 'Nedělní kuřecí plátek na žampionech, rýže (169 Kč, odběr mezi 13:00 až 15:30)'
						# 	fee: 169
						# sun-breakfast-sausage:
						# 	label:
						# 		en: 'Sunday sausage breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Nedělní párek k snídani (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
						# sun-breakfast-eggs:
						# 	label:
						# 		en: 'Sunday scrambled eggs breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Nedělní snídaně míchaná vejce (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
						# sun-breakfast-jam:
						# 	label:
						# 		en: 'Sunday bread/butter/jam/cheese breakfast (90 CZK, available between 7:00 and 8:00)'
						# 		cs: 'Nedělní snídaně chléb, máslo, marmeláda, sýr (90 Kč, odběr mezi 7:00 až 8:00)'
						# 	fee: 90
				culture:
					label:
						en: 'Guided tour and concert in Osek monastery must be ordered and paid until Sunday April 7, 2024'
						cs: 'Prohlídka kláštera a koncert se musí objednat a zaplatit do neděle 7. 4. 2024'
					type: checkboxlist
					items:
						guided-tour-regular:
							label:
								en: 'Saturday guided tour (200 CZK, between 17:45 and 18:45)'
								cs: 'Sobotní prohlídka kláštera (200 Kč, mezi 16:30 až 17:30)'
							fee: 180
						guided-tour-reduced:
							label:
								en: 'Saturday guided tour students and seniors over 65 years (160 CZK, between 17:45 and 18:45)'
								cs: 'Sobotní prohlídka kláštera studenti a senioři nad 65 let (160 Kč, mezi 16:30 až 17:30)'
							fee: 150
						concert:
							label:
								en: 'Saturday concert in monastery (200 CZK, from 20:00)'
								cs: 'Sobotní koncert v klášteře (200 Kč, od 20:00)'
							fee: 150
	webmasterEmail: "jan.tojnar@rogaining.cz"
