php:
	date.timezone: Europe/Prague

parameters:
	siteTitle:
		cs: 9. Sudetské Tojnárkovo Bloudění 2023
		en: Lost in Tojnarek’s Sudetenland 2023
	entries:
		maxMembers: 2
		minMembers: 2
		eventDate: 2023-03-22 # used for age calculations
		opening: 2023-03-02T00:00:00
		closing: 2023-04-23T14:00:00
		invoiceModifier: App\Config\CustomInvoiceModifier
		fees:
			person: 0
		categories:
			HJ:
				label:
					en: 'Championship of the Horní Jiřetín city'
					cs: 'Přebor Horního Jiřetína'
			MJ:
				constraints:
					- 'all(gender=male)'
					- 'all(age<=18)'
			WJ:
				constraints:
					- 'all(gender=female)'
					- 'all(age<=18)'
			XJ:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<=18)'
			MO:
				constraints:
					- 'all(gender=male)'
			WO:
				constraints:
					- 'all(gender=female)'
			XO:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			MV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=40)'
			WV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=40)'
			XV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=40)'
		fields:
			team:
				sportident:
					type: sportident
					fee: 50
				friday2h:
					type: enum
					label:
						en: '2 hour Friday Night:'
						cs: 'Páteční noční dvouhodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 70
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				saturday5h:
					type: enum
					label:
						en: '5 hour Saturday:'
						cs: 'Sobotní denní pětihodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 180
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sunday4h:
					type: enum
					label:
						en: '4 hour Sunday:'
						cs: 'Nedělní čtyřhodinovka - mapa 1850:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 170
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
			person:
				country:
					type: country
					default: 46
				boarding:
					disabled: false
					label:
						en: 'Boarding (must be ordered and paid up to Friday 15. 4. 2022):'
						cs: 'Stravování (nutno objednat a zaplatit do pátku 15. 4. 2022):'
					type: checkboxlist
					items:
						pa-soup:
							label:
								en: 'Friday "Dršťková" soup (35 CZK, available between 18:00 and 21:00)'
								cs: 'Páteční dršťkovka (35 Kč, odběr mezi 18:00 až 21:00)'
							fee: 35
						pa-gulas-k:
							label:
								en: 'Friday pork goulash & dumplings (120 CZK, available between 18:00 and 21:00)'
								cs: 'Páteční vepřový guláš s knedlíkem (120 Kč, odběr mezi 18:00 až 21:00)'
							fee: 120
						pa-gulas-b:
							label:
								en: 'Friday pork goulash & bread (120 CZK, available between 18:00 and 21:00)'
								cs: 'Páteční vepřový guláš s chlebem (120 Kč, odběr mezi 18:00 až 21:00)'
							fee: 120
						so-breakfast1:
							label:
								en: 'Saturday breakfast – scrambled eggs (75 CZK, available between 8:00 and 9:00)'
								cs: 'Sobotní snídaně – míchaná vejce (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						so-breakfast2:
							label:
								en: 'Saturday breakfast – sausage & bread (75 CZK, available between 8:00 and 9:00)'
								cs: 'Sobotní snídaně – párek/pečivo (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						so-breakfast3:
							label:
								en: 'Saturday breakfast – bread/butter/jam (75 CZK, available between 8:00 and 9:00)'
								cs: 'Sobotní snídaně – pečivo/máslo/džem (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						so-soup:
							label:
								en: 'Saturday goulash soup (35 CZK, available between 17:00 and 21:00)'
								cs: 'Sobotní gulášovka (35 Kč, odběr mezi 17:00 až 21:00)'
							fee: 35
						so-rizoto:
							label:
								en: 'Saturday risotto (120 CZK, available between 17:00 and 21:00)'
								cs: 'Sobotní rizoto (120 Kč, odběr mezi 17:00 až 21:00)'
							fee: 120
						so-ptacek:
							label:
								en: 'Saturday Beef roll filled with egg & sausage with rice (120 CZK, available between 17:00 and 21:00)'
								cs: 'Sobotní španělský ptáček s rýží (120 Kč, odběr mezi 17:00 až 21:00)'
							fee: 120
						ne-breakfast1:
							label:
								en: 'Sunday breakfast – scrambled eggs (75 CZK, available between 8:00 and 9:00)'
								cs: 'Nedělní snídaně – míchaná vejce (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						ne-breakfast2:
							label:
								en: 'Sunday breakfast – sausage & bread (75 CZK, available between 8:00 and 9:00)'
								cs: 'Nedělní snídaně – párek/pečivo (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						ne-breakfast3:
							label:
								en: 'Sunday breakfast – bread/butter/jam (75 CZK, available between 8:00 and 9:00)'
								cs: 'Nedělní snídaně – pečivo/máslo/džem (75 Kč, odběr mezi 8:00 až 9:00)'
							fee: 75
						ne-soup:
							label:
								en: 'Sunday Ukrainian Borscht (35 CZK, available between 13:00 and 15:00)'
								cs: 'Nedělní ukrajinský boršč (35 Kč, odběr mezi 13:00 až 15:00)'
							fee: 35
						ne-kure-r:
							label:
								en: 'Sunday chicken schnitzel & potatoes (120 CZK, available between 13:00 and 15:00)'
								cs: 'Nedělní kuřecí řízek s bramborem (120 Kč, odběr mezi 13:00 až 15:00)'
							fee: 120
						ne-vepr-r:
							label:
								en: 'Sunday pork schnitzel & potatoes (120 CZK, available between 13:00 and 15:00)'
								cs: 'Nedělní vepřový řízek s bramborem (120 Kč, odběr mezi 13:00 až 15:00)'
							fee: 120
				accommodation:
					label:
						en: 'Hard floor accommodation at the event centre (no shower, WC available):'
						cs: 'Nouzové ubytování v sále restaurace (bez sprchy, jen s WC):'
					type: checkboxlist
					items:
						gym2:
							label:
								en: 'Hard floor accommodation, 2 nights from Friday to Sunday (200 CZK)'
								cs: 'Sál restaurace, 2 noci od pátku do neděle (200 Kč)'
							fee: 200
						gym1:
							label:
								en: 'Hard floor accommodation, 1 night from Friday-Saturday or Saturday-Sunday (100 CZK)'
								cs: 'Sál restaurace, 1 noc pátek-sobota nebo sobota-neděle (100 Kč)'
							fee: 100
	webmasterEmail: tojnar@gmail.com
