php:
	date.timezone: Europe/Prague

services:
	exchange: Money\Exchange\ReversedCurrenciesExchange(
		Money\Exchange\FixedExchange([
			'EUR': [
				'CZK': '25'
			]
		])
	)

parameters:
	siteTitle:
		cs: 12. Sudetské Tojnárkovo Bloudění 2026
		en: Lost in Tojnarek’s Sudetenland 2026
	entries:
		minMembers: 2
		maxMembers: 2
		eventDate: 2026-12-31 # used for age calculations
		opening: 2025-12-14T00:00:00
		closing: 2026-04-25T12:00:00
		accountNumber: '2800039826/2010'
		invoiceModifier: App\Config\CustomInvoiceModifier
		fees:
			currency: CZK
			person: 0
		limits:
			osecka: 14
			satlava: 25
			matraska: 15
		categories:
			MJ:
				constraints:
					- 'all(gender=male)'
					- 'all(age<=18)'
			XJ:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<=18)'
			WJ:
				constraints:
					- 'all(gender=female)'
					- 'all(age<=18)'
			MO:
				constraints:
					- 'all(gender=male)'
			XO:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			WO:
				constraints:
					- 'all(gender=female)'
			MV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=45)'
			XV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=40)'
			WV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=40)'
		fields:
			team:
				friday2h:
					type: enum
					public: true
					label:
						en: '2-hour Friday Night:'
						cs: 'Páteční noční dvouhodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 100
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				saturday5h:
					type: enum
					public: true
					label:
						en: '5-hour Saturday:'
						cs: 'Sobotní denní pětihodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 210
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sunday4h:
					type: enum
					public: true
					label:
						en: '4-hour  - historical map:'
						cs: 'Nedělní čtyřhodinovka - mapa 1850:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 210
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sportident:
					public: true
					type: sportident
					fee: 70
			person:
				country:
					type: country
					default: 46
				accommodation:
					label:
						en: 'Accommodation must be ordered and paid until Monday April 13, 2026'
						cs: 'Ubytování se musí objednat a zaplatit do pondělí 13. 4. 2026'
					type: enum
					options:
						osecka:
							label:
								en: 'Pension Osecká Bouda (own sleeping bag), 700 CZK per person from Friday to Sunday'
								cs: 'Pension Osecká Bouda (vlastní spacák), 700 Kč/os. pátek až neděle'
							fee: 700
							limit: osecka
						satlava:
							label:
								en: 'Pension Šatlava (linen included, shared bathroom), 700 CZK per person from Friday to Sunday'
								cs: 'Pension Šatlava, (s povlečením, společné sociálky), 700 Kč/os. pátek až neděle'
							fee: 700
							limit: satlava
						matraska:
							label:
								en: 'Pension Matrasova bouda (linen included, bathroom en suite), 1600 CZK per person from Friday to Sunday'
								cs: 'Pension Matrasova bouda, (s povlečením, vlastní sociálky), 1600 Kč/os. pátek až neděle'
							fee: 1600
							limit: matraska
						none:
							default: true
							label:
								en: 'None'
								cs: 'Žádné'
				boarding:
					label:
						en: 'Boarding must be ordered and paid until Monday April 13, 2026'
						cs: 'Stravování se musí objednat a zaplatit do pondělí 13. 4. 2026'
					type: checkboxlist
					items:
						fri-soup:
							label:
								en: 'Friday poultry soup (35 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční kuřecí vývar (35 Kč, odběr mezi 17:00 až 19:30)'
							fee: 35
						fri-d-goulash:
							label:
								en: 'Friday goulash & dumplings (139 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční guláš s knedlíkem (139 Kč, odběr mezi 17:00 až 19:30)'
							fee: 139
						fri-b-goulash:
							label:
								en: 'Friday goulash & bread (139 CZK, available between 17:00 and 19:30)'
								cs: 'Páteční guláš s chlebem (139 Kč, odběr mezi 17:00 až 19:30)'
							fee: 139
						sat-breakfast-sausage:
							label:
								en: 'Saturday sausage breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Sobotní párek k snídani (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sat-breakfast-eggs:
							label:
								en: 'Saturday scrambled eggs breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Sobotní snídaně míchaná vejce (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sat-breakfast-jam:
							label:
								en: 'Saturday bread/butter/jam/cheese breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Sobotní snídaně chléb, máslo, marmeláda, sýr (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sat-g-soup:
							label:
								en: 'Saturday goulash soup (35 CZK, available between 15:00 and 18:30)'
								cs: 'Sobotní gulášovka (35 Kč, odběr mezi 15:00 až 18:30)'
							fee: 35
						sat-d-chicken:
							label:
								en: 'Saturday chicken with paprika sauce with dumplings (139 CZK, available between 15:00 až 18:30)'
								cs: 'Sobotní kuře na paprice knedlík (139 Kč, odběr mezi 15:00 až 18:30)'
							fee: 139
						sat-p-chicken:
							label:
								en: 'Saturday chicken with paprika sauce with pasta (139 CZK, available between 15:00 až 18:30)'
								cs: 'Sobotní kuře na paprice s těstovinami (139 Kč, odběr mezi 15:00 až 18:30)'
							fee: 139
						sun-breakfast-sausage:
							label:
								en: 'Sunday sausage breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Nedělní párek k snídani (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sun-breakfast-eggs:
							label:
								en: 'Sunday scrambled eggs breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Nedělní snídaně míchaná vejce (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sun-breakfast-jam:
							label:
								en: 'Sunday bread/butter/jam/cheese breakfast (70 CZK, available between 7:00 and 8:00)'
								cs: 'Nedělní snídaně chléb, máslo, marmeláda, sýr (70 Kč, odběr mezi 7:00 až 8:00)'
							fee: 70
						sun-soup:
							label:
								en: 'Sunday pea soup (35 CZK, available between 13:00 and 14:30)'
								cs: 'Nedělní hrachovka (35 Kč, odběr mezi 13:00 až 14:30)'
							fee: 35
						sun-ch-risotto:
							label:
								en: 'Sunday chicken risotto (139 CZK, available between 13:00 and 14:30)'
								cs: 'Nedělní kuřecí rizoto (139 Kč, odběr mezi 13:00 až 14:30)'
							fee: 139
						sun-v-risotto:
							label:
								en: 'Sunday vegetable risotto (139 CZK, available between 13:00 and 14:30)'
								cs: 'Nedělní zeleninové rizoto (139 Kč, odběr mezi 13:00 až 14:30)'
							fee: 139
	webmasterEmail: "jan.tojnar@rogaining.cz"
