php:
	date.timezone: Europe/Prague

services:
	exchange: Money\Exchange\ReversedCurrenciesExchange(
		Money\Exchange\FixedExchange([
			'EUR': [
				'CZK': '25'
			]
		])
	)


parameters:
	siteTitle:
		cs: 2. Kočkogaining 2025
		en: Black Cat Cup 2025
	webmasterEmail: jan.tojnar@rogaining.cz
	accountNumber: '523144003/5500'
	entries:
		minMembers: 2
		maxMembers: 2
		recommendedCardCapacity: 30
		eventDate: 2025-12-31 # used for age calculations
		opening: 2025-04-04T00:00:00
		closing: 2025-05-31T12:00:00
		fees:
			currency: CZK
			person: 0
		limits:
			chatka: 69
		categories:
			MJ:
				constraints:
					- 'all(gender=male)'
					- 'all(age<=18)'
			WJ:
				constraints:
					- 'all(gender=female)'
					- 'all(age<=18)'
			XJ:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age<=18)'
			MO:
				constraints:
					- 'all(gender=male)'
			XO:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
			WO:
				constraints:
					- 'all(gender=female)'
			MV:
				constraints:
					- 'all(gender=male)'
					- 'all(age>=40)'
			XV:
				constraints:
					- 'some(gender=male)'
					- 'some(gender=female)'
					- 'all(age>=40)'
			WV:
				constraints:
					- 'all(gender=female)'
					- 'all(age>=40)'
			C:
				constraints:
		fields:
			team:
				sportident:
					type: sportident
					fee: 70
				saturday5h:
					type: enum
					label:
						en: '5-hour Saturday:'
						cs: 'Sobotní pětihodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 400
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
				sunday4h:
					type: enum
					label:
						en: '4-hour Sunday:'
						cs: 'Nedělní čtyřhodinovka:'
					options:
						yes:
							label:
								en: 'Yes'
								cs: 'Ano'
							fee: 300
						no:
							label:
								en: 'No'
								cs: 'Ne'
							default: true
			person:
				country:
					type: country
					default: 46
					public: true
				accommodation:
					label:
						en: 'Accommodation must be ordered and paid until Wednesday April 30, 2025'
						cs: 'Ubytování se musí objednat a zaplatit do středy 30. 4. 2025'
					type: enum
					options:
						chatka-Pa-So:
							label:
								en: 'A small gottage Friday to Saturday, no bedlinen, own sleeping bag, 240 CZK per person'
								cs: 'Chatka pátek až sobota, bez povlečení (vlastní spacák), 240 Kč/os.'
							fee: 240
							limit: chatka
						chatka-So-Ne:
							label:
								en: 'A small gottage Saturday to Sunday, no bedlinen, own sleeping bag, 240 CZK per person'
								cs: 'Chatka sobota až neděle, bez povlečení (vlastní spacák), 240 Kč/os.'
							fee: 240
							limit: chatka
						chatka-Pa-Ne:
							label:
								en: 'A small gottage Friday to Sunday, no bedlinen, own sleeping bag, 480 CZK per person'
								cs: 'Chatka pátek až neděle, bez povlečení (vlastní spacák), 480 Kč/os.'
							fee: 480
							limit: chatka
						none:
							default: true
							label:
								en: 'None'
								cs: 'Žádné'
							fee: 0
				boarding:
					label:
						en: 'Boarding must be ordered and paid until Sunday May 18, 2025'
						cs: 'Stravování se musí objednat a zaplatit do neděle 18. 5. 2025'
					type: checkboxlist
					items:
						fri-chicken:
							label:
								en: 'Friday supper – chicken slice with rice (135 CZK)'
								cs: 'Páteční večeře – kuřecí plátek s rýží (135 Kč)'
							fee: 135
						sat-breakfast:
							label:
								en: 'Saturday breakfast, smorgasbord (165 CZK)'
								cs: 'Sobotní snídaně, švédský stůl (165 Kč)'
							fee: 165
						sat-goulash:
							label:
								en: 'Saturday supper – soup, beef goulash with dumplings (165 Kč)'
								cs: 'Sobotní večeře – polévka, hovězí guláš s knedlíkem (165 Kč)'
							fee: 165
						sat-hli-goulash:
							label:
								en: 'Saturday supper – soup, oyster mushrooms goulash, bread or dumpling (165 Kč)'
								cs: 'Sobotní večeře – polévka, hlívový guláš s knedlíkem (165 Kč)'
							fee: 165
						sun-breakfast:
							label:
								en: 'Sunday breakfast, smorgasbord (165 CZK)'
								cs: 'Nedělní snídaně, švédský stůl (165 Kč)'
							fee: 165
						sun-schnitzel:
							label:
								en: 'Sunday after race meal – soup + chicken schnitzel with potatoes (165 CZK)'
								cs: 'Nedělní pozávodní jídlo – polévka a řízek s bramborem (165 Kč)'
							fee: 165
