{layout $layout}

{block payment}
<p>Your entry will now be treated in accordance with the Selection criteria. You may be waitlisted while the pre-qualifying entrants are processed or we will send you an invitation e-mail containing payment instruction. Then you will have 3 weeks to confirm your entry by paying the registration fee.</p>
{/block}
