{layout $layout}

{block payment}
<p>Please pay sum of <strong>{$invoice->getTotal()|price}</strong> (for the entry fee + ev. ordered meals + ev. SI card rental) to&nbsp;the bank account of&nbsp;Potkávárna u Havrana.<br>
Bank address: Fio banka, a.s., V&nbsp;Celnici 1028/10, Praha 1<br>
IBAN: CZ7520100000002801761968<br>
BIC/SWIFT code: FIOBCZPPXXX</p>
{/block}
