{layout $layout}

{block payment}
<p>Vaše přihláška bude nyní posouzena podle předkvalifikačních kritérií. Buď budete zařazeni na waitlist, nebo od nás dostanete instrukce k zaplacení startovného ve lhůtě tří týdnů.  Po jeho uhrazení bude vaše přihláška přijata.</p>
{/block}
