back: "Zpět"
team.person.isContact: "(kontaktní osoba)"
team.age.help: "(v první den závodu)"
team.duration.12: "12 hodin"
team.duration.24: "24 hodin"
team.duration.6: "6 hodin"
team.action.add: "Přidat člena"
country.afg: "Afgánistán"
general.error.not_filled: "Toto pole je vyžadováno"
general.error.not_integer: "Zadej prosím celé číslo."
general.error.not_email: "Zadej prosím platnou e-mailovou adresu."
team.error.age_mismatch: "Věková kategorie neodpovídá členům týmu!"
team.age.label: "Věková kategorie:"
team.list.filter.category.all: "Vše"
team.list.filter.duration.all: "Vše"
team.list.filter.status.all: "Vše"
team.list.info.timezone: "Všechna data jsou v Greenwich Mean Time"
billing.invoice.amountDue: "Částka k úhradě"
billing.invoice.amountPaid: "Zaplacená částka"
billing.invoice.balanceDue: "Nedoplatek"
team.list.category: "Kategorie"
team.list.filter.category.label: "Kategorie:"
team.list.filter.submit.label: "Filtrovat"
team.list.entry.action.confirm: "Potvrdit platbu"
team.person.country.label: "Země:"
country.cze: "Česká republika"
team.person.birth.label: "Datum narození:"
team.person.email.label: "E-Mail:"
team.list.entry.action.edit: "Upravit"
team.action.edit: "Upravit"
home.edit: "Upravit přihlášku"
team.list.entry.status.accepted: "Přihláška přijata"
team.list.filter.status.label: "Stav:"
team.edit.title: "Úprava přihlášky"
team.edit.error.404: "Tento tým neexistuje"
team.edit.error.already_paid: "Již jste zaplatili, chcete-li provést změny, kontaktujte prosím organizátora."
team.list.entry.status.registered: "Přihláška registrována"
team.list.filter.status.registered: "Registrováno"
team.list.export.csv: "Exportovat (CSV)"
team.person.name.first.label: "Jméno:"
team.error.gender_mismatch: "Složení týmu neodpovídá členům týmu!"
team.gender.label: "Složení týmu:"
team.person.gender.label: "Pohlaví:"
team.list: "Pro zobrazení čísla čipu SportIdent najeďte na člena týmu."
home.contact_instructions: "Pokud najdete nějakou chybu, oznamte ji prosím na následující e-mail:"
billing.invoice.title: "Faktura"
billing.invoice.number: "Faktura č."
billing.invoice.item: "Položka"
team.age.junior: "Junioři"
team.age.veteran: "Veteteráni"
team.age.open: "Open"
team.age.youth: "Mládež"
team.age.superveteran: "Superveteráni"
team.age.ultraveteran: "Ultraveteráni"
team.age.min: "(%age%+)"
team.age.max: "(%age%−)"
team.person.name.last.label: "Příjmení:"
home.list: "Seznam registrovaných týmů"
team.list.title: "Seznam registrovaných týmů"
home.sign_in: "Přihlásit se"
home.sign_out: "Odhlásit se"
sign.in.action: "Přihlásit se"
sign.in.title: "Přihlášení"
sign.out.action: "Odhlásit se"
team.gender.female: "Ženy"
team.gender.male: "Muži"
team.list.members: "Členové"
team.message.label: "Zpráva:"
team.gender.mixed: "Smíšené"
billing.invoice.net: "Splatné do 3 týdnů"
team.list.name: "Název"
team.name.label: "Název:"
team.person.si.rent: "Půjčit"
team.list.entry.status.paid: "Zaplaceno"
team.list.filter.status.paid: "Zaplaceno"
sign.in.password: "Heslo:"
sign.in.team_id: "ID týmu:"
billing.invoice.price: "Cena"
billing.invoice.quantity: "Množství"
team.duration.label: "Délka závodu:"
team.action.register: "Registrovat"
home.registration: "Registrační formulář"
team.registration.title: "Registrační formulář"
team.action.remove: "Odebrat člena"
team.person.country.default: "Vyberte zemi"
team.person.si.label: "Číslo čipu SI:"
team.list.stats: "Statistiky"
team.list.status: "Stav"
billing.invoice.subtotal: "Mezisoučet"
team.success.edit: "Informace o týmu byly upraveny."
team.error.edit_general: "Je nám líto, ale informace o týmu nemohly být upraveny. Zkuste to prosím později."
team.error.add_general: "Je nám líto, ale váš tým nemohl být přidán. Zkuste to prosím později."
team.person.label: "Člen týmu č. %count%:"
team.info.label: "Informace o týmu:"
team.list.empty: "V současné době nejsou v této kategorii registrovány žádné týmy."
team.list.timestamp: "Čas"
team.list.stats.count: "Celkový počet týmů: %count%"
team.success.add: "Váš tým byl přidán. Podrobnosti byly zaslány na váš e-mail. Vaše heslo: %password%"
team.person.gender.male: "Muž"
team.person.gender.female: "Žena"
sign.in.error.no_id: "Zadejte prosím ID svého týmu."
sign.in.error.no_password: "Zadejte prosím heslo."
sign.in.remember: "Zapamatovat přihlášení"
sign.out.notice: "Byli jste odhlášeni"
team.gender.tur: "Turisté"
team.list.admin: "Správa"
