back: "Back"
team.person.isContact: "(contact person)"
team.age.help: "(on first day of event)"
team.action.add: "Add member"
country.afg: "Afghanistan"
general.error.not_filled: "This field is required."
general.error.not_integer: "Please enter a valid integer."
general.error.not_email: "Please enter a valid e-mail address."
team.error.age_mismatch: "Age category does not match team members!"
team.category.label: "Category:"
team.list.filter.category.all: "All"
team.list.filter.status.all: "All"
team.list.info.timezone: "All time data are in Greenwich Mean Time."
billing.invoice.amountDue: "Amount Due"
billing.invoice.amountPaid: "Amount Paid"
billing.invoice.balanceDue: "Balance Due"
team.list.category: "Category"
team.list.filter.category.label: "Category:"
team.list.filter.submit.label: "Filter"
team.list.entry.action.confirm: "Confirm payment"
team.person.country.label: "Country:"
country.cze: "Czech Republic"
team.person.birth.label: "Date of birth:"
team.person.birth.error.born_too_late: "People born after the event date cannot participate."
team.person.email.label: "E-Mail:"
team.list.entry.action.edit: "Edit"
team.action.edit: "Edit"
home.edit: "Edit entry"
home.invoice: "Show invoice"
team.list.entry.status.accepted: "Entry accepted"
team.list.filter.status.label: "Status:"
team.edit.title: "Entry edit"
team.edit.error.404: "This team does not exist."
team.edit.error.already_paid: "You already paid entry fee. Please contact organiser."
team.list.entry.status.registered: "Entry registered"
team.list.filter.status.registered: "Registered"
team.list.export.csv: "Export (CSV)"
team.person.name.first.label: "First name:"
team.error.too_few_members: '''
	Your team needs to have at least {count, plural,
		one {# member}
		other {# members}
	} to register in category {category}.
'''
team.error.too_few_members_simple: "Your team needs to have more members to register in this category."
team.error.too_many_members: '''
	Your team can have at most {count, plural,
		one {# member}
		other {# members}
	} to register in category {category}.
'''
team.error.too_many_members_simple: "Your team needs less members to register in this category."
team.error.gender_mismatch: "Gender category does not match gender of team members!"
team.person.gender.label: "Gender:"
team.list: "Hover name of a team member to display SportIdent card number."
home.contact_us_for_late_registration: 'Registration period is over, if you still want to sign up, please contact us at <a href="mailto:{mail}">{mail}</a>.'
home.contact_instructions: "If you find any bug please report it on following e-mail:"
billing.invoice.title: "Invoice"
billing.invoice.number: "Invoice No."
billing.invoice.item: "Item"
billing.invoice.team_id: "Team ID:"
billing.invoice.status: "Status:"
billing.invoice.status.new: "Unpaid"
billing.invoice.status.cancelled: "Cancelled"
billing.invoice.status.paid: "Paid"
billing.invoice.unit_price: "Unit Price"
billing.invoice.total_price: "Total price"
billing.invoice.fees.person: "Entry fee"
billing.invoice.fees.si: "SI card loan fee"
team.person.name.last.label: "Last name:"
home.list: "List of the registered teams"
team.list.title: "List of the registered teams"
home.sign_in: "Sign in"
home.sign_out: "Sign out"
sign.in.action: "Sign in"
sign.in.title: "Sign in"
sign.out.action: "Sign out"
team.list.members: "Members"
team.message.label: "Message for organizer:"
billing.invoice.net: "NET in 3 weeks"
team.list.name: "Name"
team.name.label: "Name:"
team.person.si.rent: "Need to rent"
team.list.entry.status.paid: "Paid"
team.list.filter.status.paid: "Paid"
sign.in.password: "Password:"
sign.in.team_id: "Team ID:"
billing.invoice.price: "Price"
billing.invoice.quantity: "Quantity"
team.action.register: "Register"
home.registration: "Registration Form"
team.registration.title: "Registration Form"
team.action.remove: "Remove member"
team.person.country.default: "Select country"
team.person.si.label: "SportIdent card number:"
team.person.si.warning.low-capacity-si5: "Your SI5 card has low capacity. Consider renting SI10 card from organizers, otherwise only first 30 check points will be recognized."
team.person.si.warning.low-capacity-si6: "Your SI6 card has low capacity. Consider renting SI10 card from organizers, otherwise only first 64 check points will be recognized."
team.person.si.warning.low-capacity-si8: "Your SI8 card has low capacity. Consider renting SI10 card from organizers, otherwise only first 30 check points will be recognized."
team.person.si.warning.low-capacity-si9: "Your SI9 card has low capacity. Consider renting SI10 card from organizers, otherwise only first 50 check points will be recognized."
team.list.stats: "Stats"
team.list.status: "Status"
billing.invoice.subtotal: "Subtotal"
team.success.edit: "Team information has been edited."
team.error.edit_general: "We are sorry but team information could not be edited. Try it again later"
team.error.add_general: "We are very sorry but your team could not be added. Try it again later"
team.person.label: "Team member {count}:"
team.info.label: "Team info:"
team.list.empty: "There are currently no teams registered in this category."
team.list.timestamp: "Timestamp"
team.list.stats.count: "Total teams: {count}"
team.success.add: "Your team has been added. Details have been sent to your e-mail. Your password: {password}"
team.person.gender.male: "Male"
team.person.gender.female: "Female"
sign.in.error.incorrect_id: "The ID of the team is incorrect."
sign.in.error.incorrect_password: "The password is incorrect."
sign.in.error.no_id: "Please enter ID of your team."
sign.in.error.no_password: "Please enter your password."
sign.in.remember: "Keep me signed in"
sign.out.notice: "You have been signed out."
team.list.admin: "Admin"
team.list.to_pay: "To pay"
team.data.country.unknown: "Unknown country"
team.error.late.title: "Too late"
team.error.early.title: "Too soon"
team.error.late: "We are sorry, the registration period is over."
team.error.early: "We are sorry, the registration period hasn’t yet started. Please wait until {date}."
date: "M j, Y"
email.verification.subject: "Registration Acknowledgement"
email.verification.entry_details.heading: "Entry details:"
email.verification.entry_details.team.heading: "Team"
email.verification.entry_details.team.registration_id: "Registration ID:"
email.verification.entry_details.team.name: "Team name:"
email.verification.entry_details.team.password: "Password:"
email.verification.entry_details.team.category: "Team category:"
email.verification.entry_details.message: "Message:"
email.verification.entry_details.person.heading: "Team member {number}"
email.verification.entry_details.person.heading.contact: "Team member {number} (contact person)"
email.verification.entry_details.person.name: "Name:"
email.verification.entry_details.person.gender: "Gender:"
email.verification.entry_details.person.gender.male: "♂ Male"
email.verification.entry_details.person.gender.female: "♀ Female"
email.verification.entry_details.person.birth: "Date of birth:"
email.verification.entry_details.person.birth.format: "%b/%d/%Y"
email.verification.entry_details.person.email: "E-Mail address:"
email.verification.archivation_request: "Please archive this message for future communication."
maintenance.title: "Maintenance"
maintenance.clear_cache: "Clear cache"
maintenance.cache_cleared: "Cache has been cleared successfully."
