back: "Back"
team.person.isContact: "(contact person)"
team.age.help: "(on first day of event)"
team.duration.12: "12 hours"
team.duration.24: "24 hours"
team.duration.6: "6 hours"
team.action.add: "Add member"
country.afg: "Afghanistan"
general.error.not_filled: "This field is required."
general.error.not_integer: "Please enter a valid integer."
general.error.not_email: "Please enter a valid e-mail address."
team.error.age_mismatch: "Age category does not match team members!"
team.age.label: "Age group:"
team.list.filter.category.all: "All"
team.list.filter.duration.all: "All"
team.list.filter.status.all: "All"
team.list.info.timezone: "All time data are in Greenwich Mean Time."
billing.invoice.amountDue: "Amount Due"
billing.invoice.amountPaid: "Amount Paid"
billing.invoice.balanceDue: "Balance Due"
team.list.category: "Category"
team.list.filter.category.label: "Category:"
team.list.filter.submit.label: "Filter"
team.list.entry.action.confirm: "Confirm payment"
team.person.country.label: "Country:"
country.cze: "Czech Republic"
team.person.birth.label: "Date of birth:"
team.person.email.label: "E-Mail:"
team.list.entry.action.edit: "Edit"
team.action.edit: "Edit"
home.edit: "Edit entry"
team.list.entry.status.accepted: "Entry accepted"
team.list.filter.status.label: "Status:"
team.edit.title: "Entry edit"
team.edit.error.404: "This team does not exist."
team.edit.error.already_paid: "You already paid entry fee. Please contact organiser."
team.list.entry.status.registered: "Entry registered"
team.list.filter.status.registered: "Registered"
team.list.export.csv: "Export (CSV)"
team.person.name.first.label: "First name:"
team.error.gender_mismatch: "Gender category does not match team members!"
team.gender.label: "Gender class:"
team.person.gender.label: "Gender:"
team.list: "Hover name of a team member to display SportIdent card number."
home.contact_instructions: "If you find any bug please report it on following e-mail:"
billing.invoice.title: "Invoice"
billing.invoice.number: "Invoice No."
billing.invoice.item: "Item"
team.age.junior: "Junior"
team.age.veteran: "Veteteran"
team.age.open: "Open"
team.age.youth: "Youth"
team.age.superveteran: "Superveteran"
team.age.ultraveteran: "Ultraveteran"
team.age.min: "(%age%+)"
team.age.max: "(%age%−)"
team.person.name.last.label: "Last name:"
home.list: "List of the registered teams"
team.list.title: "List of the registered teams"
home.sign_in: "Sign in"
home.sign_out: "Sign out"
sign.in.action: "Sign in"
sign.in.title: "Sign in"
sign.out.action: "Sign out"
team.gender.female: "Female"
team.gender.male: "Male"
team.list.members: "Members"
team.message.label: "Message:"
team.gender.mixed: "Mixed"
billing.invoice.net: "NET in 3 weeks"
team.list.name: "Name"
team.name.label: "Name:"
team.person.si.rent: "Need to rent"
team.list.entry.status.paid: "Paid"
team.list.filter.status.paid: "Paid"
sign.in.password: "Password:"
sign.in.team_id: "Team ID:"
billing.invoice.price: "Price"
billing.invoice.quantity: "Quantity"
team.duration.label: "Race duration:"
team.action.register: "Register"
home.registration: "Registration Form"
team.registration.title: "Registration Form"
team.action.remove: "Remove member"
team.person.country.default: "Select country"
team.person.si.label: "SportIdent card number:"
team.list.stats: "Stats"
team.list.status: "Status"
billing.invoice.subtotal: "Subtotal"
team.success.edit: "Team information was edited."
team.error.edit_general: "We are sorry but team information could not be edited. Try it again later"
team.error.add_general: "We are very sorry but your team could not be added. Try it again later"
team.person.label: "Team member %count%:"
team.info.label: "Team info:"
team.list.empty: "There are currently no teams registered in this category."
team.list.timestamp: "Timestamp"
team.list.stats.count: "Total teams: %count%"
team.success.add: "Your team was added. Details were sent to your e-mail. Your password: %password%"
team.person.gender.male: "Male"
team.person.gender.female: "Female"
sign.in.error.no_id: "Please enter ID of your team."
sign.in.error.no_password: "Please enter your password."
sign.in.remember: "Keep me signed in"
sign.out.notice: "You have been signed out."
