back: "Zpět"
team.person.isContact: "(kontaktní osoba)"
team.age.help: "(v první den závodu)"
team.action.add: "Přidat člena"
country.afg: "Afgánistán"
general.error.not_filled: "Toto pole je vyžadováno"
general.error.not_integer: "Zadej prosím celé číslo."
general.error.not_email: "Zadej prosím platnou e-mailovou adresu."
team.error.age_mismatch: "Věková kategorie neodpovídá členům týmu!"
team.category.label: "Kategorie:"
team.list.filter.category.all: "Vše"
team.list.filter.status.all: "Vše"
team.list.info.timezone: "Všechna data jsou v Greenwich Mean Time"
billing.invoice.amountDue: "Částka k úhradě"
billing.invoice.amountPaid: "Zaplacená částka"
billing.invoice.balanceDue: "Nedoplatek"
formats.datetime: "%-d. %-m. %Y %H:%M"
formats.datetime_multiline: "%-d. %-m. %Y<br>%H:%M"
team.list.category: "Kategorie"
team.list.filter.category.label: "Kategorie:"
team.list.filter.submit.label: "Filtrovat"
team.list.entry.action.confirm: "Potvrdit platbu"
team.list.action.send_message.label: "Poslat zprávu"
team.person.country.label: "Země:"
country.cze: "Česká republika"
team.person.birth.label: "Datum narození:"
team.person.birth.error.born_too_late: "Lidé narození po datu závodu se nemohou zúčastnit."
team.person.email.label: "E-Mail:"
team.list.entry.action.edit: "Upravit"
team.list.entry.action.sign_as: "Přihlásit se za…"
team.list.entry.action.list_communications: "Komunikace ({queued, plural, =0 {} other {#/}}{sent})"
team.action.edit: "Upravit"
home.edit: "Upravit přihlášku"
home.invoice: "Zobrazit vyúčtování"
team.list.entry.status.accepted: "Přihláška přijata"
team.list.filter.status.label: "Stav:"
team.edit.title: "Úprava přihlášky"
team.edit.error.404: "Tento tým neexistuje"
team.edit.error.already_paid: "Již jste zaplatili, chcete-li provést změny, kontaktujte prosím organizátora."
team.list.entry.status.registered: "Přihláška registrována"
team.list.filter.status.registered: "Registrováno"
team.list.export.csv: "Exportovat (CSV)"
team.person.name.first.label: "Jméno:"
team.error.too_few_members: '''
	Týmy v kategorii {category} musí mít nejméně {count, plural,
		one {# člena}
		few {# členy}
		other {# členů}
	}.
'''
team.error.too_few_members_simple: "Týmy v této kategorii musí mít více členů."
team.error.too_many_members: '''
	Týmy v kategorii {category} smí mít nejvýše {count, plural,
		one {# člena}
		few {# členy}
		other {# členů}
	}.
'''
team.error.too_many_members_simple: "Týmy v této kategorii musí mít méně členů."
team.error.gender_mismatch: "Zvolená kategorie neodpovídá pohlaví členů týmu!"
team.person.gender.label: "Pohlaví:"
team.list: "Pro zobrazení čísla čipu SportIdent najeďte na člena týmu."
home.contact_us_for_late_registration: 'Registrace už skončila, chcete-li se ještě registrovat, napište na adresu <a href="mailto:{mail}">{mail}</a>.'
home.contact_instructions: "Pokud najdete nějakou chybu, oznamte ji prosím na následující e-mail:"
billing.invoice.title: "Faktura"
billing.invoice.number: "Faktura č."
billing.invoice.item: "Položka"
billing.invoice.team_id: "ID Týmu:"
billing.invoice.status: "Stav:"
billing.invoice.status.new: "Nezaplaceno"
billing.invoice.status.cancelled: "Zrušeno"
billing.invoice.status.paid: "Zaplaceno"
billing.invoice.unit_price: "Jednotková cena"
billing.invoice.total_price: "Celková cena"
billing.invoice.fees.person: "Startovné"
billing.invoice.fees.si: "Půjčení SI čipu"
communication.compose.title: "Napsat zprávu"
communication.compose.recipients.label: "Příjemci:"
communication.compose.recipients.placeholder: "1, 2, 3, 5, 8"
communication.compose.recipients.error.empty: "Chybí příjemce zprávy."
communication.compose.subject.label: "Předmět:"
communication.compose.subject.error.empty: "Chybí předmět zprávy."
communication.compose.body.label: "Zpráva:"
communication.compose.body.error.empty: "Chybí tělo zprávy."
communication.compose.preview: "Náhled"
communication.compose.enqueue: "Odeslat"
communication.compose.enqueue.succeeded: '''
	{count, plural,
		one {Zpráva byla úspěšně přidána}
		other {Zprávy byly úspěšně přidány}
	} do fronty k odeslání.
'''
communication.compose.error.unknown_id: '''
	{count, plural,
		one {Neznámé ID}
		other {Neznámá ID}
	} týmu: {ids}
'''
communication.compose.error.enqueue_failed: '''
	Nepodařilo se přidat {count, plural,
		one {zprávu}
		other {zprávy}
	} do fronty k odeslání: {error}
'''
communication.compose.error.preview.template: "Chyba v šabloně: {error}"
communication.list.title: "Seznam zpráv odeslaných týmu {id}"
communication.list.id: "#"
communication.list.subject: "Předmět"
communication.list.date: "Datum"
communication.list.body: "Tělo"
communication.list.status: "Stav"
communication.list.actions: "Akce"
communication.list.entry.status.sent: "Odesláno"
communication.list.entry.status.queued: "Ve frontě"
communication.list.entry.status.cancelled: "Zrušeno"
communication.list.entry.action.view: "Zobrazit"
communication.list.empty:  "Tomuto týmu nebyly zaslány žádné zprávy."
communication.list.compose_new: "Napsat novou zprávu"
communication.view.title: "Zpráva s předmětem „{title}“"
communication.view.submitted_on: "Odesláno {time}, týmu {id}."
communication.send.success: "Úspěšně {count, plural, one {odeslána # zpráva} few {odeslány # zprávy} other {odesláno # zpráv}}."
communication.send.no_messages: "No messages to send."
communication.send.error.message_collection_failed: "Failed to collect messages to send."
communication.send.error.submit_failed: "Nepodařilo se odeslat {count, plural, one {# zprávu} few {# zprávy} other {# zpráv}} {total, plural, one {z #} few {ze #} other {z #}}."
team.person.name.last.label: "Příjmení:"
home.list: "Seznam registrovaných týmů"
team.list.title: "Seznam registrovaných týmů"
home.sign_in: "Přihlásit se pro editaci přihlášky"
home.sign_out: "Odhlásit se"
sign.in.action: "Přihlásit se"
sign.in.title: "Přihlášení"
sign.out.action: "Odhlásit se"
team.list.members: "Členové"
team.message.label: "Zpráva pro pořadatele:"
billing.invoice.net: "Splatné do 3 týdnů"
team.list.name: "Název"
team.name.label: "Název:"
team.person.si.rent: "Půjčit"
team.list.entry.status.paid: "Zaplaceno"
team.list.filter.status.paid: "Zaplaceno"
sign.in.password: "Heslo:"
sign.in.team_id: "ID týmu:"
billing.invoice.price: "Cena"
billing.invoice.quantity: "Množství"
team.action.register: "Registrovat"
home.registration: "Registrační formulář"
team.registration.title: "Registrační formulář"
team.action.remove: "Odebrat člena"
team.person.country.default: "Vyberte zemi"
team.person.si.label: "Číslo čipu SI:"
team.person.si.warning.low-capacity-si5: "Váš SI5 čip má malou kapacitu. Zvažte zapůjčení SI10 čipu od pořadatele, jinak vám uznáme pouze prvních 30 naražených kontrol"
team.person.si.warning.low-capacity-si6: "Váš SI6 čip má malou kapacitu. Zvažte zapůjčení SI10 čipu od pořadatele, jinak vám uznáme pouze prvních 64 naražených kontrol."
team.person.si.warning.low-capacity-si8: "Váš SI8 čip má malou kapacitu. Zvažte zapůjčení SI10 čipu od pořadatele, jinak vám uznáme pouze prvních 30 naražených kontrol."
team.person.si.warning.low-capacity-si9: "Váš SI9 čip má malou kapacitu. Zvažte zapůjčení SI10 čipu od pořadatele, jinak vám uznáme pouze prvních 50 naražených kontrol."
team.person.pqe.label: "Kvalifikační kritéria:"
team.person.pqe.error.not_filled: "Informace o předkvalifikaci je povinná."
team.list.stats: "Statistiky"
team.list.status: "Stav"
billing.invoice.subtotal: "Mezisoučet"
team.success.edit: "Informace o týmu byly upraveny."
team.error.edit_general: "Je nám líto, ale informace o týmu nemohly být upraveny. Zkuste to prosím později."
team.error.add_general: "Je nám líto, ale váš tým nemohl být přidán. Zkuste to prosím později."
team.person.label: "Člen týmu č. {count}:"
team.info.label: "Informace o týmu:"
team.list.empty: "V současné době nejsou v této kategorii registrovány žádné týmy."
team.list.timestamp: "Čas"
team.list.stats.count: "Celkový počet týmů: {count}"
team.success.add: "Váš tým byl přidán. Podrobnosti byly zaslány na váš e-mail. Vaše heslo: {password}"
team.person.gender.male: "Muž"
team.person.gender.female: "Žena"
sign.in.error.incorrect_id: "Zadané ID týmu neexistuje."
sign.in.error.incorrect_password: "Zadané heslo není správné."
sign.in.error.no_id: "Zadejte prosím ID svého týmu."
sign.in.error.no_password: "Zadejte prosím heslo."
sign.in.remember: "Zapamatovat přihlášení"
sign.out.notice: "Byli jste odhlášeni"
sign.as.notice: "Byli jste přihlášeni jako tým {id}."
team.list.admin: "Správa"
team.list.to_pay: "Zaplatit"
team.data.country.unknown: "Neznámá země"
team.error.late.title: "Příliš pozdě"
team.error.early.title: "Příliš brzy"
team.error.late: "Je nám líto, ale doba pro registrace či úpravy přihlášky již vypršela."
team.error.early: "Je nám líto, ale přihlašování ještě nezačalo. Bude zahájeno {date}."
date: "j. n. Y"
email.verification.subject: "Potvrzení registrace"
email.verification.entry_details.heading: "Detaily přihlášky:"
email.verification.entry_details.team.heading: "Tým"
email.verification.entry_details.team.registration_id: "Registrační ID:"
email.verification.entry_details.team.name: "Název týmu:"
email.verification.entry_details.team.password: "Heslo:"
email.verification.entry_details.team.category: "Kategorie:"
email.verification.entry_details.message: "Zpráva:"
email.verification.entry_details.person.heading: "{number}. člen týmu"
email.verification.entry_details.person.heading.contact: "{number}. člen týmu (kontaktní osoba)"
email.verification.entry_details.person.name: "Jméno:"
email.verification.entry_details.person.gender: "Pohlaví:"
email.verification.entry_details.person.gender.male: "♂ Muž"
email.verification.entry_details.person.gender.female: "♀ Žena"
email.verification.entry_details.person.birth: "Datum narození:"
email.verification.entry_details.person.birth.format: "%-d. %-m. %Y"
email.verification.entry_details.person.email: "E-Mail:"
email.verification.archivation_request: "Prosím, uschovejte tento mail pro případnou budoucí komunikaci."
maintenance.title: "Správa"
maintenance.clear_cache: "Vymazat cache"
maintenance.cache_cleared: "Cache byla úspěšně smazána."
maintenance.update_pqe: "Aktualizovat data z PQE"
maintenance.pqe_updated: "Data z PQE byla úspěšně aktualizována."
maintenance.send_outbound_messages: "Odeslat {count, plural, one {# zprávu} few {# zprávy} other {# zpráv}} ve frontě"
