{block content}
{define title}{_messages.team.error.$errorType.title}{/define}

<p>{if $errorType === 'early'}
{_messages.team.error.early, null, ['date' => $openingDate->format($template->translate('messages.date'))]}
{else}
{_messages.team.error.$errorType}
{/if}</p>
