includes:
	- ../vendor/johnstoncode/phpstan-moneyphp/extension.neon
	- ../vendor/phpstan/phpstan-nette/extension.neon
	- ../vendor/phpstan/phpstan-nette/rules.neon
	- ../vendor/nextras/orm-phpstan/extension.neon
parameters:
	level: max
	paths:
		- ../app
		- ../tests
		- ../www
	checkMissingIterableValueType: false
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '(Call to an undefined method App\\Components\\TeamForm::addDynamic\(\))'
	typeAliases:
		# does not seem to work at the moment
		# https://stackoverflow.com/questions/60162729/how-to-represent-a-non-empty-array
		nonEmpty: array
