<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$eventNameShort} – {$subject}</title>
</head>
<body>
<h1>{$eventName}</h1>
<h2>{$subject}</h2>

{block body}
{/block}
</body>
</html>
