<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CRC 2019 – Registration Acknowledgement</title>
</head>
<body>
<h1>The Czech Rogaining Championships 2019</h1>
<h2>Registration Acknowledgement</h2>
<p>Hello {$name},</p>
<p>thank you for your registration. Your registration ID is {$id}. Please remember it. It will identify your team in the processing of entries and any other correspondence that is necessary. Consult the <a href="{link //Team:list}">list of entrants</a> on the CRC website to check whether your registration data are correct. You can edit your entry using password provided bellow. Foreign competitors will be allowed to pay all the fees (entry fee, SI card rental, ordered meals or T-Shirts) <strong>{$invoice->getTotal()},–</strong> CZK cash at registration. You can also pay in EUR.</p>
<p></p>
<p>If you have any queries about your entry please e-mail <a href="mailto:{$organiserMail}">{$organiserMail}</a>.</p>
<h3>Entry details:</h3>
<h4>Team</h4>
<table class="teamlist">
<tr><th>Registration ID:</th><td>{$id}</td></tr>
<tr><th>Team name:</th><td>{$team->name}</td></tr>
<tr><th>Password:</th><td>{$password}</td></tr>
<tr><th>Team category:</th><td>{$team|categoryFormat}</td></tr>
<tr><th>Message:</th><td>{$team->message}</td></tr>
</table>
{foreach $people as $person}
<h4>Team member {$iterator->counter}{if $person->contact} {_messages.team.person.isContact}{/if}</h4>
{var $cardId = $person->getJsonData()->sportident->cardId ?? 0}
<table class="teamlist">
<tr><th>Name:</th><td>{$person->firstname} {$person->lastname}</td></tr>
<tr><th>Gender:</th><td>{if $person->gender=='male'}♂ Male{else}♀ Female{/if}</td></tr>
<tr><th>Date of birth:</th><td>{$person->birth|date:'%b/%d/%Y'}</td></tr>
<tr n:if="$cardId >= 1 && $cardId <= 499999"><th>Your SI5 chip has low capacity.</th><td>Consider renting of SI10 chip from organizers, otherwise only 1st 30 check points will be recognized.</td></tr>
<tr n:if="$cardId >= 2000000 && $cardId <= 2999999"><th>Your SI8 chip has low capacity.</th><td>Consider renting of SI10 chip from organizers, otherwise only 1st 30 check points will be recognized.</td></tr>
<tr n:if="$cardId >= 1000000 && $cardId <= 1999999"><th>Your SI9 chip has low capacity.</th><td>Consider renting of SI10 chip from organizers, otherwise only 1st 50 check points will be recognized.</td></tr>
<tr n:if="$person->email"><th>E-Mail address:</th><td>{$person->email}</td></tr>
</table>
{/foreach}
 <br><p>Please archive this message for future communication.</p>
</body>
</html>
