<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>6. Sudetské Tojnárkovo Bloudění 2020 – Potvrzení registrace</title>
</head>
<body>
<h1>6. Sudetské Tojnárkovo Bloudění 2020</h1>
<h2>Potvrzení registrace</h2>
<p>Vážený závodníku,</p>
<p>děkujeme za&nbsp; přihlášení. Registrační ID Vašeho týmu je {$id}. Prosím, uschovejte si je. Poslouží k&nbsp;identifikaci vašeho týmu při&nbsp;případné editaci vaší přihlášky a komunikaci s&nbsp;pořadateli závodu. Prosíme, abyste si v&nbsp;<a href="{link //Team:list}">seznamu přihlášek</a> zkontrolovali správnost registračních údajů.
<p>Vaši přihlášku můžete editovat pomocí ID a hesla, které naleznete níže.</p>
<p>Po zaplacení částky <strong>{$invoice->getTotal()|price}</strong> (startovné + příp. půjčovné čipu, ev. objednané jídlo) s&nbsp;variabilním symbolem <strong>{$id}</strong> na&nbsp;účet číslo <strong>2800039826/2010</strong> bude přihláška plně akceptována.</p>
<p>V případě jakýchkoli problémů s&nbsp;přihláškou pište na&nbsp;e-mail: <a href="mailto:{$organiserMail}">{$organiserMail}</a>.

<h3>Detaily přihlášky:</h3>
<h4>Tým</h4>
<table class="teamlist">
<tr><th>Registrační ID:</th><td>{$id}</td></tr>
<tr><th>Název týmu:</th><td>{$team->name}</td></tr>
<tr><th>Heslo:</th><td>{$password}</td></tr>
<tr><th>Kategorie:</th><td>{$team|categoryFormat}</td></tr>
<tr><th>Zpráva:</th><td>{$team->message}</td></tr>
</table>
{foreach $people as $person}
<h4>{$iterator->counter}. člen týmu{if $person->contact} {_messages.team.person.isContact}{/if}</h4>
<table class="teamlist">
<tr><th>Jméno:</th><td>{$person->firstname} {$person->lastname}</td></tr>
<tr><th>Pohlaví:</th><td>{if $person->gender=='male'}♂ Muž{else}♀ Žena{/if}</td></tr>
<tr><th>Datum narození:</th><td>{$person->birth|date:'%-d. %-m. %Y'}</td></tr>
<tr n:if="$person->email"><th>E-Mail:</th><td>{$person->email}</td></tr>
</table>
{/foreach} <br>
<p>Prosím, uschovejte tento mail pro&nbsp;případnou budoucí komunikaci.</p>
</body>
</html>
