<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Lost in Tojnarek’s Sudetenland 2020 – Registration Acknowledgement</title>
</head>
<body>
<h1>Lost in Tojnarek’s Sudetenland 2020</h1>
<h2>Registration Acknowledgement</h2>
<p>Hello {$name},</p>
<p>thank you for your registration. Your registration ID is {$id}. Please remember it. It will identify your team in the processing of entries and any other correspondence that is necessary. Consult the <a href="{link //Team:list}">list of entrants</a> on&nbsp;the event website to check whether your registration data are correct. You can edit your entry using password provided bellow.<br>
Please pay sum of&nbsp;the entry fee + ev. ordered meals + ev. SI card rental <strong>{$invoice->getTotal()|price}</strong> to&nbsp;the bank account of&nbsp;Krušnohorský rogainingový klub Litvínov.<br>
Bank address: Fio banka, a.s., V&nbsp;Celnici 1028/10, Praha 1<br>
IBAN: CZ8620100000002800039826<br>
BIC/SWIFT code: FIOBCZPPXXX</p>

<p>If you have any queries about your entry please e-mail <a href="mailto:{$organiserMail}">{$organiserMail}</a>.</p>

<h3>Entry details:</h3>
<h4>Team</h4>
<table class="teamlist">
<tr><th>Registration ID:</th><td>{$id}</td></tr>
<tr><th>Team name:</th><td>{$team->name}</td></tr>
<tr><th>Password:</th><td>{$password}</td></tr>
<tr><th>Team category:</th><td>{$team|categoryFormat}</td></tr>
<tr><th>Message:</th><td>{$team->message}</td></tr>
</table>
{foreach $people as $person}
<h4>Team member {$iterator->counter}{if $person->contact} {_messages.team.person.isContact}{/if}</h4>
<table class="teamlist">
<tr><th>Name:</th><td>{$person->firstname} {$person->lastname}</td></tr>
<tr><th>Gender:</th><td>{if $person->gender=='male'}♂ Male{else}♀ Female{/if}</td></tr>
<tr><th>Date of birth:</th><td>{$person->birth|date:'%b/%d/%Y'}</td></tr>
<tr n:if="$person->email"><th>E-Mail address:</th><td>{$person->email}</td></tr>
</table>
{/foreach}
 <br><p>Please archive this message for future communication.</p>
</body>
</html>
