<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Mamut Bike Orienteering – Potvrzení registrace</title>
</head>
<body>
<h1>Mamut Bike Orienteering</h1>
<h2>Potvrzení registrace</h2>
{if count($people) === 1}
{if $people->get()->fetchAll()[0]->gender === 'female'}<p>Milá mamutice,</p>{else}<p>Milý mamute,</p>{/if}
{else}
{if \nspl\a\all($people, function($p) {return $p->gender === 'female';})}<p>Milé mamutice,</p>
{elseif \nspl\a\all($people, function($p) {return $p->gender === 'male';})}<p>Milí mamuti,</p>
{else}<p>Milá mamutice, milý mamute,</p>{/if}
{/if}
<p>děkujeme za zaslání přihlášky. Registrační ID Vašeho týmu je {$id}. Prosím, uschovejte si je. Poslouží k identifikaci vašeho týmu při případné editaci vaší přihlášky a komunikaci s pořadateli závodu. Prosíme, abyste si v <a href="{link //Team:list}">seznamu přihlášek</a> zkontrolovali správnost registračních údajů.</p>
<p>Svou přihlášku můžete editovat pomocí ID a hesla, které naleznete níže.</p>
<p>Po zaplacení částky <strong>{$invoice->getTotal()},–</strong> (startovné + ubytování + příp. půjčovné čipu) s variabilním symbolem <strong>{$id}</strong> na účet číslo <strong>2201554914/2010</strong> bude přihláška plně akceptována.</p>
<p>V případě jakýchkoli problémů s přihláškou pište na e-mail: <a href="mailto:{$organiserMail}">{$organiserMail}</a>.

<h3>Detaily přihlášky:</h3>
<h4>Tým</h4>
<table class="teamlist">
<tr><th>Registrační ID:</th><td>{$id}</td></tr>
<tr><th>Název týmu:</th><td>{$team->name}</td></tr>
<tr><th>Heslo:</th><td>{$password}</td></tr>
<tr><th>Kategorie:</th><td>{$team|categoryFormat}</td></tr>
<tr><th>Zpráva:</th><td>{$team->message}</td></tr>
</table>
{foreach $people as $person}
<h4>{$iterator->counter}. člen týmu{if $person->contact} {_messages.team.person.isContact}{/if}</h4>
<table class="teamlist">
<tr><th>Jméno:</th><td>{$person->firstname} {$person->lastname}</td></tr>
<tr><th>Pohlaví:</th><td>{if $person->gender=='male'}♂ Muž{else}♀ Žena{/if}</td></tr>
<tr><th>Datum narození:</th><td>{$person->birth|date:'%-d. %-m. %Y'}</td></tr>
<tr n:if="$person->email"><th>E-Mail:</th><td>{$person->email}</td></tr>
</table>
{/foreach} <br>
<p>Prosím, uschovejte tento mail pro případnou budoucí komunikaci.</p>
</body>
</html>
