<!doctype html>
<html lang="{$locale}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{$siteTitle|striptags|trim}{ifset #title} – {include title|striptags}{/ifset}</title>

	<link rel="stylesheet" href="{asset style.scss}">
	{block head}{/block}
</head>

<body data-basePath="{$basePath}/">
	<script> document.documentElement.className+=' js' </script>
	<div class="container">
		<div class="page-header pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<a n:href="Homepage:" n:if="!$presenter->isLinkCurrent('Homepage:')" class="back-to-title"><i class="fas fa-angle-left"></i><span class="visually-hidden">{_back}</span></a>
				{$siteTitle}
				<small n:ifset="#title">{include title|striptags}</small>
			</h1>
		</div>
		<div n:foreach="$flashes as $flash" n:class="alert, $flash->type ? 'alert-' . $flash->type : 'alert-info'" role="alert">{$flash->message}</div>

		{include content}
	</div>

	<script src="{asset index.js}"></script>
</body>
</html>
